
.iClass{
border: 2px solid blueviolet;
padding: 2px;
margin: 2px;
color: blue;
;

}
h4{
    text-align: center;
    border: 2px dashed;
      color: deeppink;
    padding: 10px;;
max-height: 10px;

}
h2{ 
    border: 2px dashed;
color:#14618e;
font-family:Algerian;
text-align: center;
}
div{
width: 200px;
border: 15px solid #1d4f6d;
padding: 100px;
margin: 20px;
}
p.pclass{


    border: 1px groove #c7ed68;
width: 10px;
height: 10;


}
body{
    background-color: #9092a2;
}