cite{
    color: blue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
i{
border: 2px solid;
padding: 2px;
margin: 2px;
color: blueviolet;

}
h4{
    text-align: center;
    border: 2px dashed;
      color: deeppink;
    padding: 10px;;
max-height: 10px;

}
span{
background-color: orangered;
font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: skyblue;
font-family: cursive;
}
b{
    border: 1px solid ;
    text-align: center;
    color: darkslategray;
}