table{
    border: 1px solid greenyellow;
    background-color: black;
    color: white;
}
tr{
    border: 1px solid greenyellow;
    background-color: black;
    color: white;
}
th{
    border: 1px solid greenyellow;
    background-color: black;
    color: white;
}
body{ 
    background-color: hsl(71, 25%, 51%);
}
td{
    
    border: 1px solid greenyellow;
    background-color: black;
    color: white;
}
table, th, td {
    border: 1px solid rgb(24, 193, 184);
    border-collapse: collapse: 10px;
  }
 .city {
    border: 1px solid rgb(24, 193, 184);
    border-collapse:collapse 10px;
  }
  .outset{
    border: 1px dashed darkgoldenrod;
    border: outset;
  }
  .inset{
    border-style:dashed;
    border-color: #0ed665;
  }
  .solid{
    border: 1px solid hwb(0 8% 25%);
    border-radius: 10px;
  }