h1 {
  text-align: center;
  text-decoration: wavy;
}



ul {
  list-style-type: none;
  margin: 20px;
  padding: 15px;
  overflow: hidden;

}

li {
  float: inline-start;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(0, 0, 0, 0.811);
}
li {
  font-size: larger;
}
h1{
  color: white;
}